body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

tr:nth-child(odd) {
    background-color: #E8E8E8;
}

table {
  border-spacing: 0 2px;
}